repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
        # -- Pre commit hook is conflicting with the helm-docs
        exclude: |
          (?x)(
            ^charts/db-instances/README.md
          )
      - id: trailing-whitespace
      - id: detect-private-key
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        exclude: |
          (?x)(
            ^charts/db-operator/crd/|
            ^charts/db-operator/README.md|
            ^charts/db-instances/README.md
          )
